/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --white: #FFFFFF;
    --black: #000000;
    --border-color: #D9D9D9;
    --hover-color: #0056d6;
    --shadow: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.25);
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    height: 19px;
    margin-top: 30px;
}

nav {
    display: flex;
    gap: 68px;
}

.nav-link {
    padding-top: 14px;
    border-top: 2px solid transparent;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}

/****** Info Group Section ***********/
.info-group {
    margin-bottom: 35px;
}

.headline {
    margin-bottom: 35px;
}

.headline-title {
    font-size: 22px;
    margin-bottom: 8px;
}

.headline p {
    font-size: 16px;
    margin: 0;
}

/****** Search Form ***********/
.search-form {
    margin-bottom: 35px;
}

.search-bar {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
}

.location-icon {
    background-color: var(--main-bg-color);
    padding: 15px 18px;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-icon i {
    font-size: 18px;
}

.search-input {
    border: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    padding: 14px 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--black);
    outline: none;
    text-align: center;
    min-width: 195px;
}

.search-input::placeholder {
    color: var(--black);
    opacity: 1;
}

.search-button {
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    padding: 15px 16px;
    border-radius: 0 15px 15px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color:  var(--hover-color);
    transform: scale(1.05);
}

.button-icon {
    display: none;
}

/****** Filters ***********/
.filters-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}

.filters-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.filters {
    display: flex;
    gap: 15px;
}

.filter-button {
    background-color: var(--white);
    border: 2px solid var(--border-color);
    padding: 15px 19px;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}

/****** Info Bar ***********/
.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-bar i {
    width: 24px;
    height: 24px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.info-bar p {
    margin: 0;
    font-size: 16px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.hebergements-cards a {
    display: block;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease;
}

.hebergements-cards .card:hover {
    transform: translateY(-5px);
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.hebergements-cards .card-txt {
    margin-bottom: 8px;
}

.hebergements-cards .card-title {
    margin: 0 0 8px;
}

.hebergements-cards .card-subtitle {
    margin: 0 0 8px;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    display: flex;
    gap: 5px;
}

.afficher-plus {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    transition: transform 0.3s ease;
}

.populaires-cards .card:hover {
    transform: translateY(-5px);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    padding: 30px 0;
}

.activites .section-title {
    margin-bottom: 30px;
}

.activites-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.activites-cards a {
    display: block;
}

.activites-cards .card {
    padding: 0;
    transition: transform 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activites-cards .card:hover {
    transform: translateY(-5px);
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    padding: 20px 19px;
}

.activites-cards .card-title {
    margin: 0;
}

/****** Footer ***********/
footer {
    background-color: var(--main-bg-color);
}

.footer-content {
    display: flex;
}

.footer-column {
    flex: 1;
    padding: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 12px;
}

.footer-column a {
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: var(--main-color);
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .activites-cards img {
        height: 200px;
    }

    /****** Filters ***********/

    .filter-button {
        flex: 1;
        min-width: calc(30% - 7.5px);
        font-size: 12px;
        justify-content: center;
        padding: 10px 14px;
    }

   /****** Footer ***********/

   .footer-column li {
        margin-bottom: 8px;
    }

    .footer-column h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }


    .footer-column a {
        font-size: 12px;
        transition: color 0.3s ease;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    /****** Header ***********/
    header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .logo {
        padding: 30px 20px 0;
        margin: 0;
    }

    nav {
        width: 100%;
        gap: 0;
    }

    .nav-link {
        width: 50%;
        text-align: center;
        padding: 0 0 15px;
        border-top: none;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .nav-link:hover {
        border-top: none;
        border-bottom-color: var(--main-color);
    }

    /****** Info Group ***********/
    .info-group {
        padding: 0 20px;
    }

    .headline-title {
        font-size: 22px;
    }

    /****** Search Form ***********/
    .search-bar {
        width: 100%;
    }

    .search-input {
        flex: 1;
        min-width: 0;
    }

    .search-button {
        padding: 15px 16px;
        border-radius: 15px;
        margin-left: -15px;
        box-shadow: 0px 4px 4px 0px var(--shadow-dark);
    }

    .button-text {
        display: none;
    }

    .button-icon {
        display: block;
        color: var(--white);
    }

    /****** Filters ***********/
    .filters-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .filters {
        width: 100%;
        flex-wrap: wrap;
    }

    .filter-button {
        flex: 1;
        min-width: calc(50% - 7.5px);
        font-size: 12px;
        justify-content: center;
        padding: 10px 12px;
    }

    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements {
        width: 100%;
        background-color: var(--white);
        border-radius: 0;
        padding: 20px;
    }

    .hebergements-cards {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .hebergements-cards img {
        height: 100px;

    }

    .populaires {
        width: 100%;
        margin-top: 0;
        border-radius: 0;
        padding: 30px 20px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    .populaires-cards .card:first-child {
        margin-top: 15px;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    /****** Activités ***********/
    .activites {
        padding: 30px 20px;
    }

    .activites-cards {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .activites-cards img {
        height: 141px;
    }

    /****** Footer ***********/
    footer {
        padding: 10px 10px;
    }

    .footer-content {
        flex-direction: column;
        gap: 0px;
    }

    .footer-column li {
        margin-bottom: 0px;
    }

    .footer-column  {
       padding-bottom: 10px;
    }
}
